@using System.Security.Principal

<a asp-controller="Vendor" class="govuk-link beis-sign-out-link govuk-!-margin-right-2" asp-action="Users" asp-route-id="@Model.VendorId">
    Vendor users
</a>


@*TODO: Put sign in/out link here after implementing the authentication*@