@{
    ViewData["Title"] = "Forgot Password";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Forgot password
                    </h1>
                </legend>
                <p class="govuk-body">We have sent an email to [user email address] to reset your password.</p>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                        Email
                    </label>
                    <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="text" value="">
                </div>
            </fieldset>
        </div>

        <form class="form" action="set-password" method="get">

            <button class="govuk-button" data-module="govuk-button">Reset password</button>

        </form>

    </div>
</div>